@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    background-color: #fff8f8;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
}

.colors{
    width: 100%;
    margin: 1rem;
}

.color{
    width: 200px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    padding: 0.2rem;
}

.result{
    margin: 1rem 0;
}
.result-color{
    display: inline-block;
    width: 4rem;
    height: 1.5rem;
    text-align: center;
    margin: 0.2rem;
    color: #ffffff;
}